.body-style{
    background-image: url('/assets/img/wallpaper-results.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.tabs{
    background-color: #0081bf;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.contenedor-back{
    background-color: rgba(255, 255, 255, .8);
    min-height: 350px;
    margin-top: 25px;
    padding: 15px 45px;
}
.resultados{
    margin: 10px 0px;
}
.estudies{
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 80px;
    position: relative;
}
.estudies-son{
    line-height: 1px;
}
.estudies-son::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 12px;
    background-color: #9dda5d;
    top: 0%;
    left: 0;
    border-bottom-left-radius: 5px;
}
hr{
    height: 100%;
    padding: 2px;
    width: 1px;
}
.tabs>li>a{
    color: #fff;
}
h5{
    text-align: center;
}
nav{
    background-color: #2b224c !important;
}
.logo-header{
    width: auto;
    height: 48px;
    margin-top: 8px;
}
@media screen and (max-width: 600px){
    .logo-header{
        margin-top: 4px;
    }
    .body-style{
        background-image: url('/assets/img/wallpaper-results-mobile.jpg');
    }
    .contenedor-back{
        background-color: rgba(255, 255, 255, 0);
        padding: 0px;
    }
    h5{
        color: #fff;
    }
}
.sidenav{
    background-image: url('/assets/img/mobile.jpg');
    background-size: cover;
    background-position: center;
}
.sidenav li>a {
    color: rgba(255, 255, 255, 1);
}
.sidenav li>a>i {
    color: rgba(255, 255, 255, 1);
}